@using VoteOnIt_WS.Areas.HelpPage
@model IGrouping<System.Web.Http.Controllers.HttpControllerDescriptor, System.Web.Http.Description.ApiDescription>

@{
    var controllerDocumentation = ViewBag.DocumentationProvider != null ?
        ViewBag.DocumentationProvider.GetDocumentation(Model.Key) :
        null;
}

<h2 id="@Model.Key.ControllerName">@Model.Key.ControllerName</h2>
@if (!string.IsNullOrEmpty(controllerDocumentation))
{
    <p>@controllerDocumentation</p>
}
<table class="help-page-table">
    <thead>
    <tr>
        <th>API</th><th>Description</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var api in Model)
    {
        <tr>
            <td class="api-name">
                <a href="@Url.Action("Api", "Help", new {apiId = api.GetFriendlyId()})">@api.HttpMethod.Method @api.RelativePath</a>
            </td>
            <td class="api-documentation">
                @if (api.Documentation != null)
                {
                    <p>@api.Documentation</p>
                }
                else
                {
                    <p>No documentation available.</p>
                }
            </td>
        </tr>
    }
    </tbody>
</table>